* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu {
    position: fixed;
    background: linear-gradient(to left, #00b389, #2dcc70);
    height: 100vh;
    width: 225px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}



.logo {
    display: flex;
    align-items: center;
    /* alinha vertical */
    gap: 10px;
    /* espaço entre imagem e texto */
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    cursor: default;
    user-select: none;
}

.logo img {
    width: 30px;
    height: 30px;
    background: #00b389;
    padding: 10px;
    border: 3px solid black;
    border-radius: 15px;
}

.tema {
    border: none !important;
    background: none !important;
    cursor: pointer;
    transition: 0.3s;
}

.tema:hover {
    transform: scale(1.2);
}

.tema:active {
    transform: scale(0.9);
}

.menu ul {
    margin-top: 40px;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    user-select: none;
}

.menu li {
    background-color: #008b6a;
    width: 90%;
    margin-left: 3px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.menu li:active {
    transform: scale(0.9);
}

li .troca {
    filter: brightness(0) invert(1);
    width: 20px;
    height: 20px;
}

aside .menu-footer {
    background: #00a981;
    color: #005e48;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
    width: 88%;
    margin-left: 2px;
    cursor: default;
    user-select: none;
}

.menu-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    
}

.menu-bottom img{
    filter: brightness(0) invert(1);
    width: 30px;
    height: 30px;
}

.config-btn {
    background-color: #008b6a;
    color: white;
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    gap: 5px;

    display: flex;
    align-items: center;

    cursor: pointer;
    transition: 0.3s;
}

.config-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.config-btn:active {
    transform: scale(0.9);
}

.principal {
    margin-left: 200px;
    /* espaço do menu */
    height: 100vh;
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    text-align: center;
    background-image: linear-gradient(rgb(226, 242, 233, 0.5), rgb(226, 242, 233, 0.5)), url(../Image/fundo.png);
    background-size: cover;
    /* ocupa toda a tela */
    background-position: center;
    /* centraliza */
    background-repeat: no-repeat;
    /* não repete */
}

#home {
    flex-direction: column;
    gap: 10px;
}

#btComecar {
    background-color: #008b6a;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#btComecar:hover {
    background: #008b6bb4;
}

#btComecar:active {
    transform: scale(0.9);
}

#home h1 {
    font-size: 30px;
}

#home p {
    font-size: 20px;
}

.menu li.active {
    background: #005e48;
    transform: scale(1.05);
}

/* esconde tudo */
.principal>div {
    display: none;
}

/* mostra cada tela do jeito certo */
.home #home {
    display: flex;
}

.dashboard #dashboard {
    display: block;
}

.transicoes #transicoes {
    display: block;
}

.metas #metas {
    display: block;
}

.aprender #aprender {
    display: block;
}